files:
    "/etc/php.d/z99uploadsize.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 200000M
            post_max_size = 200000M
            max_execution_time = 200000
commands:
    remove_old_ini:
        command: "rm -f /etc/php.d/z99uploadsize.ini.bak"